################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.Frends.Exchange.dir/.idea
/.vs
/Frends.Exchange.ReadEmail/.vs/Frends.Exchange.ReadEmail/DesignTimeBuild
/Frends.Exchange.ReadEmail/.idea/.idea.Frends.Exchange.ReadEmail/.idea
/Frends.Exchange.ReadEmail/.vs/Frends.Exchange.ReadEmail/v17
/Frends.Exchange.ReadEmail/Frends.Exchange.ReadEmail/.idea/.idea.Frends.Exchange.ReadEmail/.idea
/Frends.Exchange.ReadEmail/Frends.Exchange.ReadEmail/bin/Debug
/Frends.Exchange.ReadEmail/Frends.Exchange.ReadEmail/obj
/Frends.Exchange.ReadEmail/Frends.Exchange.ReadEmail.Tests/bin/Debug/net6.0
/Frends.Exchange.ReadEmail/Frends.Exchange.ReadEmail.Tests/obj
/Frends.Exchange.ReadEmail/.vs/Frends.Exchange.ReadEmail
